{% ckan_extends %}

{% block search_sortby %}
{% if type == 'molecule' %}
  {% if sorting %}
    <div class="form-select form-group control-order-by">
      <label for="field-order-by">{{ _('Order by') }}</label>
      <input
        type="hidden"
        name="ext_chemstructure_sort_explicit"
        value="{{ request.args.get('ext_chemstructure_sort_explicit', '') }}">
      <select
        id="field-order-by"
        name="sort"
        class="form-control"
        onchange="this.form.elements.ext_chemstructure_sort_explicit.value='1'">
        {% for label, value in sorting %}
          {% if label and value %}
            <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
          {% endif %}
        {% endfor %}
      </select>
      {% block search_sortby_button %}
        <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
      {% endblock %}
    </div>
  {% endif %}
{% else %}
  {{ super() }}
{% endif %}
{% endblock %}

{% block search_facets %}
{% if facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% if field not in ['structure_query', 'structure_mode', 'threshold'] %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
          {% endif %}
        {% endfor %}
      </p>
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
{% endif %}
{% endblock %}
